---
import Layout from '../layouts/Layout.astro';
import boardGames from '../../fixtures/board-games.json';

const sortedGames = boardGames.sort((a, b) => b.score - a.score);
---

<Layout>
	<div class="p-8">
		<main class="prose dark:prose-invert mx-auto">
			<h1>Play/Pass Leaderboard</h1>
			<ol>
				{sortedGames.map((game) => (
					<li>
						<a href={`/boardgame/${game.id}`}>{game.name}</a> - {Math.round(game.score * 100)}%
					</li>
				))}
			</ol>
		</main>
	</div>
</Layout>
